main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: linear-gradient(180deg, #FFFFFF 0%, #A9B6AD 41.5%);
}

.product-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
    
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 200px;
}

.product div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: linear-gradient(180deg, #70957A 0%, #737373 100%);
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #f0f0f0;
    width: 200px;
}

.product div button{
    background: linear-gradient(90deg, #F5F5F5 0%, #7CB18B 38.5%, #82CD97 100%);
    border: 1px solid black;
    height: 26px;
    font-family: Philosopher, sans-serif;
    font-weight: 700;
    border-radius: 100px;
}

.product div p, h4{
    margin: 0;

}

@media (max-width: 450px) {
    .product-cont{
        flex-direction: column;

    }
}

@media (min-width: 450px) {
    .product-cont{
        flex-direction: row;
    }
}
