main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    background-color: #c3dae5;
}

main p{
    max-width: 720px;
}

@media (max-width: 600px) {
    main img{
        width: 150px;
    }

    main p{
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    main img{
        width: 300px;
    }
    main p{
        font-size: 18px;
    }
}



